<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".dat" />
			<remove fileExtension=".dll" />
			<remove fileExtension=".json" />
			<remove fileExtension=".wasm" />
			<remove fileExtension=".woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".dll" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".wasm" mimeType="application/wasm" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
		</staticContent>
		<httpCompression>
			<dynamicTypes>
				<add mimeType="application/octet-stream" enabled="true" />
				<add mimeType="application/wasm" enabled="true" />
			</dynamicTypes>
		</httpCompression>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="dotnet" arguments=".\EsportStats.Server.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
	</system.webServer>
</configuration>
<!--ProjectGuid: 95A316A5-018D-471C-B69F-DBDFE279E0FE-->