@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="row justify-content-center m-5">
    <div class="col-md-10 col-lg-8">
        <section>
            <h4 class="text-center">Please continue to the official Steam log in page</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p class="text-center">
                                <button type="submit" class="btn btn-link" name="provider" value="Steam" title="Log in using your Steam account">
                                    <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/steamworks_docs/english/sits_large_noborder.png" alt="Sign in through Steam" title="Sign in through Steam" />
                                </button>
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
