// Variables like reused colors and sizes should be here.

@text-color: #eee;
@text-secondary: #bbb;

@flavor: #653b34;

@text-url: #fff;
@text-url-hover: #aaa;
@text-url-active: #999;

@gray-light: #f7f7f7;
@gray: #555;


// Fonts

// Mixin for importing fonts
.font-face(@font-family, @filepath, @font-weight, @font-style) {
    @font-face {
        font-family: @font-family;
        src: url('@{filepath}');        
        font-weight: @font-weight;
        font-style: @font-style;
    }
}

// Used fonts

.font-face('Reaver', 'https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Bold.woff', bold, normal);
.font-face('Reaver', 'https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-SemiBold.woff', normal, normal);
.font-face('Radiance', 'https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.woff', bold, normal);
.font-face('Radiance', 'https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.woff', normal, normal);
