<tbody>
    <tr class="bg-transparent">
        <td colspan="100" class="text-center">
            <p>There was an error while processing your request.</p>
            <p>Please try again later!</p>
        </td>
    </tr>
</tbody>