
<span class="text-muted text-center">
    AV7XYB - Developing an Esport Data Analytics Application using .NET Technologies - Esport statisztikák nyilvántartása .NET környezetben - 2020/2021/2
</span>
