
<span class="text-muted text-center">
    created by <a href="https://steamcommunity.com/id/gerloss/" target="_blank">gerloss</a> <span class="separation">-</span> powered by <a href="https://www.opendota.com/" target="_blank">OpenDota</a>
</span>
