<tbody>
    <tr class="bg-transparent">
        <td colspan="100" class="text-center">
            <p>Fetching data...</p>
            <p><img src="images/courier-lowres.gif" alt="Loading..." title="Loading..."></p>
        </td>
    </tr>
</tbody>