<tbody>
    <tr class="bg-transparent">
        <td colspan="100" class="text-center">
            <p>Loading...</p>
            <p><img src="images/spinner.svg" alt="Loading..." title="Loading..."></p>
        </td>
    </tr>
</tbody>