@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <li>
            <a href="">@context.User.Identity.Name</a>
            <span class="" @onclick="BeginSignOut">(Log out)</span>
        </li>
    </Authorized>
    <NotAuthorized>
        <li>
            <a href="authentication/login">Log in</a>
        </li>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
