@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@using System.Security.Claims

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
        <li class="current-user">
            <img src="@context.User.FindFirst("picture")?.Value" /> 
            <a href="@context.User.FindFirst("profile")?.Value" target="_blank">@context.User.FindFirst("name")?.Value</a>
            <span class="logout" @onclick="BeginSignOut">(Log out)</span>
        </li>
    </Authorized>
    <NotAuthorized>
        <li>
            <a href="authentication/login"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/steamworks_docs/english/sits_small.png" alt="Sign in through Steam" title="Sign in through Steam" /></a>
        </li>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
