@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>

<main class="main">
    <div class="container">
        <div class="content">
            @Body
        </div>
    </div>
</main>

<footer class="footer">
    <FootMenu />
</footer>
