<tbody>
    <tr class="bg-transparent">
        <td colspan="100" class="text-center">
            <p>Our servers seem to be under heavy load, and we were unable to process your request.</p>
            <p>Please try again later!</p>
        </td>
    </tr>
</tbody>