<div class="row">
    <div class="col-md-7">
        <h1>Dota 2 Friend Stats</h1>

        <p class="lead text-flavor">
            A site where you can compare your statistics with your friends that play Dota 2.
        </p>

        <p class="text-secondary">
            For the site to be able to access statistics about a player, they need to enable the <i>Expose Public Match Data</i> option inside Dota 2.
            If you have just enabled this option, it might take a while for your past statistics to update. The statistics on this site should not be older than 24 hours.
        </p>

        <p class="text-center text-md-left">
            <a href="authentication/login"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/steamworks_docs/english/sits_large_noborder.png" alt="Sign in through Steam" title="Sign in through Steam" /></a>
        </p>
    </div>
    <div class="d-none d-md-block col-md-4 offset-md-1">
        <img class="w-100" src="images/dota_logo.png" />
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <h5>Why do I need to sign in through Steam?</h5>
        <p class="text-secondary">
            By signing in through your Steam account this site can access your public Dota 2 profile containing your public Dota 2 match statistics, and the list of your Steam friends so your statistics can be compared against each other.
        </p>
    </div>
</div>

<FirstVisit />

