<div class="row">
    <div class="col-md-7">
        <h1>Dota 2 Friend Stats</h1>

        <p class="lead">
            A site where you can compare your statistics with your friends that play Dota 2.
        </p>

        <p class="text-secondary">
            For the site to be able to access statistics about a player, they need to enable the <i>Expose Public Match Data</i> option inside Dota 2.
            If you have just enabled this option, it might take a while for your past statistics to update.
        </p>

        <p>
            <a href="authentication/login"><img src="https://community.akamai.steamstatic.com/public/images/signinthroughsteam/sits_02.png" alt="Log in with Steam" title="Log in with Steam" /></a>
        </p>
    </div>
    <div class="d-none d-md-block col-md-4 offset-md-1">
        <img class="w-100" src="images/dota_logo.png" />
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <h5>Why do I need to log in with my steam account?</h5>
        <p>If you log in through steam the site can access your list of friends and your public Dota 2 match statistics so they can be compared against each other.</p>
    </div>
</div>