<div class="row">
    <div class="col-md-7">
        <h1>Dota 2 Friend Stats</h1>

        <p class="lead">
            A site where you can compare your statistics with your friends that play Dota 2.
        </p>

        <p class="text-secondary">
            A hendrerit in a lectus interdum leo suspendisse himenaeos cras laoreet posuere aptent parturient scelerisque sit iaculis
            a parturient sapien nec torquent netus dui eu non nibh consectetur. Suspendisse nullam class risus odio lobortis fusce mus
            a leo tortor scelerisque litora nam per a sociis interdum dignissim. Vestibulum turpis primis proin dui sed est enim.
        </p>

        <p>
            <a href="authentication/login">Log in</a>
        </p>
    </div>
    <div class="d-none d-md-block col-md-4 offset-md-1">
        <img class="w-100" src="http://placehold.it/380x380" />
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <h5>Why do I need to log in with my steam account?</h5>
        <p>If you log in through steam the site can access your list of friends and your public Dota 2 match statistics so they can be compared against each other.</p>
    </div>
</div>