@using EsportStats.Shared.DTO
@using EsportStats.Shared.Enums

<p>The biggest hero spammers: Players who played the most amount of games on a single hero:</p>

<table class="spammers table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col" colspan="2">Player</th>
            <th scope="col">Hero</th>
            <th scope="col" class="text-right">Matches</th>
        </tr>
    </thead>
    @if (isLoaded)
    {
        <tbody>
            @foreach (var e in entries)
            {
                <tr>
                    <td><img class="w-100" src="@e.Friend.Avatar" /></td>
                    <td>@e.Friend.Name</td>
                    <td><img class="w-100" src="@e.Hero.GetThumbnailUrl()" /></td>
                    <td class="text-right">
                        @e.Value
                    </td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <LoadingBody/>
    }

</table>